* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family:'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif, sans-serif;
}

/* .container {
    margin: 0 auto;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(min-content, 25vh) repeat(3, minmax(min-content, max-content));
    box-shadow: 1px 1px 5px 0 var(--color-alfa), -1px -1px 5px 0 var(--color-alfa);
} */