
/* header{
    background-image: url('/Dixit.png');
    height: 0;
    background-repeat: no-repeat; 
    background-size: contain;
    width: 100%;
    padding-bottom: 100%;
   
}  */
/* 
nav{
    height: 300px;
    background-color:gray;
    background-repeat: no-repeat; 
    background-size: contain;
    width: 100%;
    padding-bottom: 100%;
} */

  body{
      background-color: blueviolet;
  }

.nav__item{
    display: none;
}

nav  button:hover +ul > li {
    display: block;
    
   } 

nav button:hover  + ul > li > ul{
    display: none;
}
nav  button:hover  +ul > li button {
    display: none;

header  li + a{
    
    background-color: crimson;
}
   
.nav__list{
    border: 2px solid red;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.nav__link{
    display: block;
    padding: 15px 30px;
    color: rgb(132, 154, 255);
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link:hover {
    border-top: 2px solid #009AE1;
    border-top-left-radius: 5px;
}

.nav__item:hover .nav__dropdown {
    display: block;
}

.nav__item:hover .nav__dropdown li > a{
    display: none;
}

 .nav__item:hover > .nav__dropdown:hover  li > a{
    display: block;
}






.nav__dropdown {
    
    /* display: none; */
    position: relative;
    width: 100%;
    list-style: none;
    padding-left: 30px;
}

.nav__item {
    margin-left: 30px;

}

.dropdown__link{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.droppdown__link{
    margin-left: 60px;
    width:100%;
    list-style-type: none;
    padding: 0,5rem;
    text-decoration: none;
    color: black;
}
   
/* header label {
    position: absolute;
    left: 30px;
    top: 95px;
    color: coral;
   } */
   
 /* header input {
    display: none;
   } */


 /* header > .header__container{
    display: flex;
    justify-content: space-between;
    min-height: 18vh;
    
}  */

div > .header__container__logo{
    padding-left: 5%;
    padding-top: 1rem;
}

div{
    position: relative;
}

div > .button{
    margin-top: 1.2rem;
    height:30px;
    background:red;
    flex:0.5;
    
}

div > .fa-user{
    position: absolute;
    right: 18%;
    top: 0.4rem;
}

/* div > .fa-shopping-basket{
    position: absolute;
    right: 0;
    top: 0;
} */



/* 
nav{
    background-color:bisque;
    
    min-height: 10vh;
    min-height: calc(30vh - 50px);

    
}

header > .header__container{
    display: flex;
}  */