body{
    
    background-color: rbca(); 
    background-image: ;
    column-count: 1;
    font-size: 1rem;
}

.wrapper{
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.header {
    width: 100%;
    height: 20vh;
    
    padding: 10px;
    margin: 0px;
    
    background-image: url("tlo/tlo.jpg");
    /*<a href='https://pl.freepik.com/wektory/tlo'>Tło plik wektorowy utworzone przez freepik - pl.freepik.com</a>*/
}

.rebel:last-child{
    margin-top: 30px;
    display: block;
    position: relative;
    left: 45%;
    top: 40%;
}

.rebel{
   
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    position: relative;
    left: 50%; top: 30%;
    height: 40px;
    width: 200px;
    border: 1px solid red;
   
}




.rebel:first-child{
    font-weight: bold;
    z-index: 100;
}

.wrapper.font{
    font-weight: 300;
}



#flex1{
    display: flex;
    background-color: aqua;
    height: 400px;
    width:100%;
    justify-content: center;
    }

#flex1 figure{
    display: inline-block;
    position: relative;
}

#flex1 figure figcaption{
    position:  absolute;
    right: 0; bottom: 0;left:0;
    text-align: center;
}

#flex2{
    display: flex;
    background-color: aqua;
    height: 400px;
    width:100%;
    justify-content: center;
        }

#flex2 figure{
    display: inline-block;
    position: relative;
}

#flex2 figure figcaption{
    position:absolute;
    right:0; bottom:0; left:0;
    text-align: center;
}
#flex3{
    display: flex;
    background-color: aqua;
    height: 400px;
    width:100%;
    justify-content: center;
                }

#flex3 figure{

    display: inline-block;
    position: relative;
                    
                }
                
#flex3 figure figcaption{

    position: absolute;
    right: 0; bottom:0; left:0;
    text-align-center;
                }
                
                
#flex4{
    display: flex;
    background-color: aqua;
    height: 400px;
    width:100%;
    justify-content: center;
                        }

#flex4 figure{

    display: inline-block;
    position: relative;
    
}

#flex4 figure figcaption{
    position: absolute;
    right: 0; bottom:0; left:0;
    text
}





                    
                





 





.footer{
    clear:both;
}



