.header {
   
    width:100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
       }
       header ul {
        display: flex;
       }
       header label {
        display: none;
       }


